# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Ambiente virtual
venv/
env/
.venv/
ENV/

# Poetry
poetry.lock
# (Poetry geralmente inclui esse arquivo, então pode deixar se quiser travar dependências)

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.bak
*.tmp
*.~ 
*.orig

# Docker
*.pid
docker-compose.override.yml
**/__pycache__/
**/*.pyc

# Env
.env

# Postgres (caso tenha volume local)
pgdata/
